{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}class="active"{% endif %}>Projects</a>
    <a href="{{ '/resume/' | relative_url }}" {% if current[1] == 'resume' %}class="active"{% endif %}>Résumé</a>
    <span class="external">
      <a href="https://github.com/azaidi4"><i class="fab fa-github"></i> GitHub</a>
    </span>
  </nav>
</header>
