<script>
  function trim(str) {
    return str.replace(/^\s+|\s+$/g, "");
  }
  const headers = document.querySelectorAll("h2, h3, h4, h5, h6");
  for (let i = 0; i < headers.length; i++) {
    const h = headers[i];
    const name = h.getAttribute("id");
    const title = h.innerHTML;
    h.innerHTML =
      '<a href="#' +
      name +
      '" class="anchor"><i class="fas fa-hashtag"></i></a>' +
      trim(title);
  }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    // array with texts to type in typewriter
    const dataText = ["Hi, I'm Ahmad Zaidi", "Welcome to my Website"];
    const characterLimitMap = {
      tiny: 11,
      small: 13,
      normal: 15,
    };

    // type one text in the typewriter
    // keeps calling itself until the text is finished
    function typeWriter(text, start, end, fnCallback) {
      const vw = Math.max(
        document.documentElement.clientWidth || 0,
        window.innerWidth || 0
      );

      let characterLimit = Infinity;
      if (vw < 370) {
        characterLimit = characterLimitMap["tiny"];
      } else if (vw < 420) {
        characterLimit = characterLimitMap["small"];
      } else if (vw < 480) {
        characterLimit = characterLimitMap["normal"];
      }

      let ellipsis = "";
      if (start == 1) {
        ellipsis = ".";
      } else if (start > 1) {
        ellipsis = "..";
      }

      // check if text isn't finished yet
      if (end < text.length) {
        // add next character to h1
        document.querySelector("h1").innerHTML =
          ellipsis +
          text.substring(start, end + 1) +
          '<span class="cursor-span" aria-hidden="true"></span>';

        // wait for a while and call this function again for next character
        setTimeout(function () {
          if (end > characterLimit) {
            typeWriter(text, start + 1, end + 1, fnCallback);
          } else {
            typeWriter(text, 0, end + 1, fnCallback);
          }
        }, 100);
      }
      // text finished, call callback if there is a callback function
      else if (typeof fnCallback == "function") {
        // call callback after timeout
        setTimeout(fnCallback, 1000);
      }
    }
    // start a typewriter animation for a text in the dataText array
    function StartTextAnimation(i) {
      if (typeof dataText[i] == "undefined") {
        setTimeout(function () {
          StartTextAnimation(0);
        }, 5000);
      }
      // check if dataText[i] exists
      if (dataText[i]) {
        // text exists! start typewriter animation
        typeWriter(dataText[i], 0, 0, function () {
          // after callback (and whole text has been animated), start next text
          StartTextAnimation(i + 1);
        });
      }
    }
    // start the text animation if on home screen
    if (window.location.href == window.location.origin + "/") {
      StartTextAnimation(0);
    }
  });
</script>
